.student-info-box {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .student-info-box h3 {
    margin-bottom: 1rem;
    color: #1fa12e;
  }
  
  .student-info-box ul {
    list-style: none;
    padding: 0;
  }
  
  .student-info-box li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  